cluster_name                = ""
credentials_file            = ""
environment                 = ""
project_id                  = ""
machine_type                = ""
namespaces                  = []
region                      = ""
regular_node_pool_locations = ""
rmsa                        = ""
spot_node_pool_locations    = ""
vpc_firewall_source_ranges  = []
vpc_pods_ip_cidr_range      = ""
vpc_services_ip_cidr_range  = ""
zones                       = []
