cluster_name       = ""
credentials_file   = ""
environment        = ""
project_id         = ""
machine_type       = ""
region             = ""
rm_service_account = ""
zones              = []
node_count         = 5
